<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.timu.cloud.net.account.mapper.TrafficMapper">

    <resultMap id="BaseResultMap" type="fun.timu.cloud.net.account.model.DO.Traffic">
        <id property="id" column="id"/>
        <result property="dayLimit" column="day_limit"/>
        <result property="dayUsed" column="day_used"/>
        <result property="totalLimit" column="total_limit"/>
        <result property="accountNo" column="account_no"/>
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="level" column="level"/>
        <result property="expiredDate" column="expired_date"/>
        <result property="pluginType" column="plugin_type"/>
        <result property="productId" column="product_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,day_limit,day_used,total_limit,account_no,out_trade_no,
        level,expired_date,plugin_type,product_id,gmt_create,
        gmt_modified
    </sql>

    <!--给某个流量包增加天使用次数-->
    <update id="addDayUsedTimes">
        <!-- 更新traffic表中的day_used字段，增加每日使用次数 -->
        update traffic set day_used = day_used + #{usedTimes}
        <!-- 条件：匹配特定的流量包 -->
        where id = #{trafficId} and account_no = #{accountNo}
        <!-- 确保增加使用次数后不会超过每日限制 -->
        and (day_limit - day_used) >= #{usedTimes} limit 1
    </update>

    <!--恢复流量包-->
    <update id="releaseUsedTimes">

        update traffic
        set day_used = day_used - #{usedTimes}

        where id = #{trafficId}
          and account_no = #{accountNo}

          and (day_used - #{usedTimes}) >= 0
          and date_format(gmt_modified, '%Y-%m-%d') = #{useDateStr} limit 1;


    </update>
</mapper>
